* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 28px;
	background-color: gray;
}

header {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: white;
}

h1 {
	padding-top: 20px;
	font-size: 48px;
	text-transform: uppercase;
}

p {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 24px;
	text-transform: lowercase;
}

.reg {
	font-size: 12px;
}

.section {
	padding-left: 40px;
	padding-right: 40px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.content-area {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
}

.main-area {
	width: 50%;
	float: left;
	padding-right: 40px;
}

#content > ul {
	display: block;
	list-style: none;
}

#white {
	background-color: #FFFFFF;
}

#luxe-blush {
	background-color: #FAEBE9;
}

#blossom {
	background-color: #F1C8CC;
}

#rose {
	background-color: #E3B4BB;
}

#fuchsia {
	background-color: #D4338C;
}

#red {
	background-color: #CC413C;
}

#coral {
	background-color: #EFBDB2;
}

#papaya {
	background-color: #E79070;
}

#persimmon {
	background-color: #D44C32;
}

#sunshine {
	background-color: #FDF080;
}

#curry {
	background-color: #F3D276;
}

#mint {
	background-color: #CAE3CF;
}

#eucalyptus {
	background-color: #B0CDC4;
}

#clover {
	background-color: #94C56D;
}

#spruce {
	background-color: #2B5F55;
}

#pool {
	background-color: #ABCFCE;
}

#peacock {
	background-color: #40909B;
}

#bluebell {
	background-color: #B4D2E9;
}

#hydrangea {
	background-color: #9EBCD9;
}

#royal {
	background-color: #3270B5;
}

#night {
	background-color: #1B2D50;
}

#plum {
	background-color: #CAC2DB;
}

#beet {
	background-color: #8F5793;
}

#dahlia {
	background-color: #814356;
}

#aubergine {
	background-color: #351541;
}

#luxe-cream {
	background-color: #FCFAEC;
}

#paper-bag {
	background-color: #C1AB8E;
}

#antique-gold {
	background-color: #AE8F58;
}

#luxe-grey {
	background-color: #DDDDDF;
}

#gravel {
	background-color: #B1B1A6;
}

#slate {
	background-color: #59584D;
}

#black {
	background-color: #221F20;
}

.color:hover {
	opacity: 0.5;
}

#content > ul > li > a {
	padding: 15px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
}

#content > ul > li > a.active {
	cursor: default;
}

section {
	height: 0;
	transition: height 0.5s;
	overflow: hidden;
	color: white;
}

.show {
	padding: 20px;
	height: 150px;
	color: gray;
}

@media screen and (max-width: 1200px) {
	.push-down-sm {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 600px) {
	.push-down-sm {
		margin-bottom: 15px;
	}
}

#content2 > ul > li {
	padding: 10px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: gray;
}

#content2 > ul > ul > li {
	margin-left: 40px;
	color: gray;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: white;
}

footer > p {
	font-size: 16px;
	text-transform: none;
}

footer > p > a {
	text-decoration: none;
	color: white;
}

/* Device Breakpoints */
/*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/
/* End Device Breakpoints */

/* Grid System */
.row {
	margin-right: -20px;
}

.col {
	float: left;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}

	.col {
		padding-right: 40px;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}
/* End Grid System */

/* Clearfix Method */
.fix {
	clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
/* End Clearfix Method */